/* General */

* {
    color: #25282E;
}

a, 
i {
    text-decoration: none;
    transition: .5s;
}

.primary-color {
    color: #25282E;
}

.secondary-color {
    color: #555555;
}

.center-image {
    background-position: center;
    background-size: cover;
}

.btn {
    background-color: #25282E;
    border-radius: 0;
    color: #FFFFFF;
    padding: 7px 18px;
    text-decoration: none;
}

.btn:hover {
    background-color: #333333;
    color: #FFFFFF;
}

/* Menu */

header {
    border-bottom: 1px solid #CCCCCC;
    padding: 20px;
    text-align: center;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo-container img {
    margin-right: 15px;
    width: 40px;
}

#navbar {
    margin: 10px auto;
    padding: 10px;
}

#navbar a {
    color: #444444;
    font-size: 1.5rem;
    margin: .5rem;
    padding: .5rem;
    width: auto;
}

#navbar a:hover {
    color: #C1B696;
}

/* Banner */

.main-image {
    background-image: url(/img/banner.png);
    height: 400px;
    margin-bottom: 30px;
    position: relative;
}

.main-image-info {
    background-color: #FFFFFF;
    bottom: 25px;
    left: 25px;
    padding: 25px;
    position: absolute;
}

/* Gallery */

#gallery-container h1, 
#gallery-container .col-12, 
#gallery-container .col-md-6 {
    margin-bottom: 50px;
}

#gallery-container h1 {
    text-align: center;
}

.small-image-container {
    height: 250px;
    margin-bottom: 20px;
}

#img1 {
    background-image: url(/img/art-1.png);
}

#img2 {
    background-image: url(/img/art-2.png);
}

#img3 {
    background-image: url(/img/art-3.png);
}

#img4 {
    background-image: url(/img/art-4.png);
}

#img5 {
    background-image: url(/img/art-5.png);
}

#img6 {
    background-image: url(/img/art-6.png);
}

/* Footer */

footer {
    border-top: 1px solid #CCCCCC;
    height: auto;
    padding: 30px;
}

footer p {
    font-size: 1.5rem;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#social-icons-container {
    padding: 25px;
}

#social-icons-container .col-1 {
    width: auto;
    text-align: center;
}

#social-icons-container a:hover i {
    color: #C1B696;
}

#social-icons-container i {
    font-size: 40px;
}